.card-section {
  width: 82%;
  margin: 30px auto;
  box-shadow: 2px 2px 5px rgb(243, 104, 201);
  border-radius: 10px;
  background-color: white;
}
.product-img {
  width: 76%;
  margin: 0 auto;
}
.product-img img {
  width: 100%;
}
.primary-btn {
  outline: none;
  border: none;
  margin: 20px 0;
  padding: 8px 18px;
  background: linear-gradient(to bottom, #db64eb, #c205c8);
  color: white;
  border-radius: 15px;
}
