.admin-container {
  width: 20%;
  height: 100vh;
  /* top: 0;
  left: 0; */
  background-color: #800060;
}
.product-management {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
@media (max-width: 598px) {
  .admin-container {
    width: 25%;
  }
}
