.table-area {
  width: 80%;
  margin: 5rem auto;
  position: relative;
}
.table-box {
  width: 90%;
  margin: 0 auto;
}
.checkout-btn {
  position: absolute;
  right: 2rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  padding: 8px 15px;
  background-color: rgb(191, 13, 223);
  color: white;
  border-radius: 10px;
}
