.admin-panel {
  display: flex;
}
.product-container {
  margin: 0 100px;
  margin-top: 5rem;
}
input {
  width: 20rem;
  padding: 5px 10px;
  color: rgb(194, 189, 189);
  border: none;
  border: 1px solid rgb(199, 196, 196);
  margin-bottom: 2.5rem;
  margin-right: 50px;
}
.margin {
  margin-left: 17rem;
}
.submit-btn {
  width: 8rem;
  margin-top: -2rem;
  margin-left: 35rem;
  color: white;
  border: none;
  background: linear-gradient(to bottom, #db64eb, #c205c8);
  border-radius: 10px;
  padding: 8px 0;
}
@media (max-width: 598px) {
  .submit-btn {
    margin-left: 0.7rem;
  }
  .product-container {
    margin: 0 20px;
    margin-top: 5rem;
  }
  .margin {
    margin-left: 0;
    position: relative;
    left: -6rem;
    top: 4.8rem;
  }
}
